.login-container{
  background-color: #131313;
  width: 100vw;
  min-height: 100vh;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-image-container{
  /* position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  width: 140px; */
  width: 120px;
  height: 30px;
}
.logo-image{
  width: 100%;
  height: 100%;
}
.login-label{
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}
.login-input{
  outline: none;
  border: none;
  padding: 10px 16px;
  color: #E2E8F0;
  font-size: 18px;
  border: 5px;
  background-color: #333333;
}
.password-container{
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.eye-button{
    background: transparent;
    border: none;
    margin-right: 10px;
}
.eye-icon{
    color: aliceblue;
    font-size: 20px;
}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  max-width: 370px;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-container h1{
  font-size: 35px;
  color: white;
}
.login-error{
  color: #DC2626;
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
}
.sigup-button{
  background-color: #E50914;
  font-size: 18px;
  color: white;
  padding: 10px 0px;
  border-width: 0px;
  border-radius: 5px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}