*{
    color: white;
}
.home-container{
  background-color: #131313;
  width: 100vw;
  min-height: 100vh;
}
.loader-container{
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-top-container{
  width: 100vw;
  height: 450px;
  background-size: cover;
  background-position: bottom;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}
.home-top-container h1{
  font-size: 22px;
  font-weight: 600;
}
.home-top-container p{
  font-size: 17px;
  font-weight: 400;
  color: #d1d1d1b8;
  margin-top: 10px;
  line-height: 22px;
}
.play-button{
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  padding: 6px 15px;
  font-size: 14px;
  text-align: center;
  width: 80px;
  margin-top: 10px;
}
.trending-now-container{
  padding: 0px 20px;
  margin-bottom: 10px;
}
.trending-now-container h1{
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.originals-container{
  padding: 0px 20px;
}
.originals-container h1{
  color: white;
  font-size: 16px;
  font-weight: 600;
}


@media screen and (min-width:768px){
  .home-top-container{
    background-size: cover;
    background-position: top;
    padding: 0px 130px;
    height: 550px;
  }
  .home-top-container h1{
    font-size: 35px;
    font-weight: 600;
    margin: 0;
  }
  .home-top-container p{
    font-size: 18px;
    
    width: 50%;
    margin: 15px  0px;
  }
  .play-button{
    font-size: 18px;
    font-weight: 500;
    width: 100px;
  }
  .trending-now-container{
    padding: 0px 130px;
    margin: 20px 0px;
  }
  .trending-now-container h1{
    font-size: 20px;
  }
  .originals-container{
    padding: 0px 130px;
  }
  .originals-container h1{
    font-size: 20px;
  }
}