.slider-container {
    box-sizing: border-box;
}
.carosule-card{
    margin: 3px 3px 3px 0px;
    width: 150px;
    height: 100px;
}
.carosule-card-image{
    width: 100%;
    height: 100%;
    padding-right: 5px;
    border-radius: 13px;
}

@media screen and (min-width:768px) {
    .carosule-card{
        margin: 3px 6px 3px 0px;
        height: 250px;
    }
    .slick-list {
  overflow: hidden;
}
}
.carosule-card:focus,
.carosule-card:active,
.carosule-card img:focus,
.carosule-card img:active,
.slick-slide:focus,
.slick-slide:active {
  outline: none;
  border: none;
}