.no-results-container{
    width: 100vw;
    height: 80vh;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.no-results-container p{
    font-size: 18px;
    font-weight: 500;
}
.no-result-content{
    width: 209px;
    height: 176px;
    margin-bottom: 10px;
}
.no-result-content img{
    width: 100%;
    height:100%;
}

@media screen and (min-width:768px){
    .no-result-content{
        width: 450px;
        height: 378px;
    }
    .no-results-container p{
    font-size: 22px;
    font-weight: 500;
}
}