.account-container{
    background-color: white;
    height: 80vh;
    background-color: #131313;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
@media screen and (min-width:768px){
    .account-container{
        padding: 0px 130px;
    }
}
hr{
    color: white;
    width: 100%;
}
.account-heading{
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    align-self: flex-start;
}
.account-details-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.account-details-card h1{
    font-size: 25px;
    font-weight: 600;
    color: #94A3B8;
    margin: 0;
}
.account-details{
    
    width: 50%;
    align-self: flex-start;
}
.account-details p{
    margin: 0;
    font-size: 18px;
}
.account-details-card p{
    width: 50%;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin: 0;
}
.logout-btn{
    background-color: #E50914;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    padding: 8px 18px;
    position: relative;
    top: 20px;
}