*{
    box-sizing: border-box;
}
.error-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    padding-top: 80px;
}
@media screen and (min-width:768px){
    .error-container{
        padding: 0px 130px;
    }
}
.error-container-2{
    background-color: rgb(65, 64, 64);
    width: 100%;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.warning-icon{
    color: #D81F26;
    font-size: 25px;
}
.error-container p{
    margin: 10px 0px;
    font-size: 13px;
    font-weight: 500;
    color: white;
    text-align: center;
}
.try-again-btn{
    background-color: #D81F26;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 5px 15px;
}