.popular-container{
  background-color: #131313;
  width: 100vw;
  min-height: 100vh;
  
  padding-top: 85px;
}
.popular-cards-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.popular-card{
    width: 185px;
    height: 140px;
    margin:5px 10px 10px 0px;
    
}
.popular-card img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
}

@media screen and (min-width:768px) {
    .popular-cards-container{
        padding: 20px 130px;
    }
    .popular-card{
    width: 300px;
    height: 220px;
    margin:15px 15px 15px 0px;
    
}
}